.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.title {
  text-align: center;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 5vh 5vh;
}

.user-basic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0vh 5vh;
  width: 40%;
}

.user-basic-info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vh 0vh;
  border-bottom: ridge;
  border-color: rgb(2, 88, 176);
}

.user-basic-info-button {
  text-align: center;
  margin: 1.5vh 5vh;
  width: 10%;
}

.level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 5vh 5vh;
}

.edit-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0vh 5vh;
  width: 40%;
  border-bottom: ridge;
  border-color: rgb(2, 88, 176);
}

.edit-level-button {
  text-align: center;
  margin: 0vh 5vh;
  width: 10%;
  top: 50%;
  left: 50%;
}

.button-edit {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(2, 88, 176);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgb(2, 88, 176);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgb(2, 88, 176);
  width: 100%;
  height: 100%;
}

.button-edit:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}

.button-edit:hover {
  color: white;
  box-shadow: inset 0 -165px 0 0 rgb(2, 88, 176);
}

.button-edit-level {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(2, 88, 176);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgb(2, 88, 176);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgb(2, 88, 176);
  width: 100%;
  height: 100%;
}

.button-edit-level:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}

.button-edit-level:hover {
  color: white;
  box-shadow: inset 0 -60px 0 0 rgb(2, 88, 176);
}