.recommended-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spots-card {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: scroll;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h4 {
    text-align: center;
    margin: 2% 2.5% 4% 2.5%;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0rem 0.5rem;
}

.city {
  width: 60%;
}

.wave-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}

.image-wave-size {
  width: 40%;
  margin: 0% 5%;
}