.search-page {
  height: 100vh;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 88vh;
  /* margin-top: 22vh;
  margin-bottom: 22vh; */
}

.nav-bar {
  height: 6vh;
}

.footer {
  height: 6vh;
  background-color: rgb(2, 88, 176);
}
