.search-page {
  height: 100vh;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
  /* margin-top: 22vh;
  margin-bottom: 22vh; */
}

.nav-bar {
  height: 6vh;
}

.footer {
  height: 6vh;
  background-color: rgb(2, 88, 176);
}

.details-button {
  /* position: relative;
  display: inline-block; */
  padding: 13.5px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(2, 88, 176);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgb(2, 88, 176);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgb(2, 88, 176);
}

.details-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 rgb(2, 88, 176);
}

.details-button:active {
  transform: scale(0.9);
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  margin: 15% 0%;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: scroll;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
